.todoForm{
    display: flex;
    gap: 10px;
}
input, button{
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    outline: none;
}
input{
    flex-grow: 1;
}
button{
    cursor: pointer;
    border: 0.2px solid grey;
}
.todoList{
    display: flex;
    gap: 10px;
    padding: 10px 0;
}